:root {
    --animate-duration: 1.5s;
  }
  

  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  details[clos] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

  details {
    padding: 10px;
  }
  
  details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
  }
  
  details[open] summary {
    margin-bottom: 10px;
  }