
header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em
}

.blog nav a {
    padding-left: 2em;
}

#landing-blog {
    width: 50%;
    font-size: 850%;
    font-weight: bold;
    font-style: italic;
    line-height: 105%;
    overflow-wrap: break-word;
    margin-top: 0;
  

}

.list-of-articles li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5em;

}

.list-of-articles li span {
    padding-left: 2em;
    color: var(--accent-color-muted);
}

.blog div {
    padding-top: 0;
}

article {
    text-align: center;
}

article p, article h1, article h2, article h3, article h4, article h5 {
    text-align: left;
}
article img {
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
    display: inline-block;
    margin: 1em 1em 1em 0;
    filter: grayscale();
    mix-blend-mode:luminosity;


}

article img:hover {
    filter: none;
    mix-blend-mode: normal;
}

.blog h4{
    margin: 0;
}

.blog h5 {
    margin-top: 1em;
}