
/* HEADER landingpage */


/* header  */

header {
    min-height: 100vh;
    margin: 0;
    padding: auto;

}


#landing-main  {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#landing-main  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
    margin: auto;
    align-items:last baseline;
}

#landing-main  h1 {
    width: 50%;
    font-size: 850%;
    font-weight: bold;
    font-style: italic;
    line-height: 105%;
    overflow-wrap: break-word;
  

}

#landing-main  p {
    width: 50%;
    font-size: 135%;
    text-wrap:pretty;
    font-weight: normal;
    font-style: normal;
}

#landing-main  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 0;
}

#landing-main  a {
    font-weight: bold;
    font-size: 200%;
}

#landing-main  a::before {
    content: '→ ';
}

#landing-main  a#content-acess::before {
    content: '↓ ';
}




li:not(header li) {
    list-style-type: '→ ';
}


#CV article h3 {
    margin-top: 0;
}
/* #CV article ul {
    break-inside: avoid-column;
    align-self: baseline;
    align-items: first baseline;
    break-after: avoid-column;
    break-before: avoid-column;
} */
