/* fonts and variables  */

@font-face {
    font-family: 'Victor Mono';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/WOFF/VictorMono-Regular.woff);
}


@font-face {
    font-family: 'Victor Mono';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/WOFF/VictorMono-Bold.woff);
}




@font-face {
    font-family: 'Victor Mono';
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/WOFF/VictorMono-Italic.woff);
}


@font-face {
    font-family: 'Victor Mono';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/WOFF/VictorMono-BoldItalic.woff);
}




@font-face {
    font-family: 'Victor Mono';
    font-weight: normal;
    font-style: oblique;
    src: url(../fonts/WOFF/VictorMono-Oblique.woff);
}


@font-face {
    font-family: 'Victor Mono';
    font-weight: bold;
    font-style: oblique;
    src: url(../fonts/WOFF/VictorMono-BoldOblique.woff);
}


@font-face {
    font-family: 'Victor Mono';
    font-weight: lighter;
    font-style: oblique;
    src: url(../fonts/WOFF/VictorMono-LightOblique.woff);
}




:root {
    --background-color : rgb(19, 36, 33) ;
    --background-color-light : rgb(24, 59, 53) ;
    --main-color : rgb(232, 232, 232) ;
    --accent-color : rgb(119, 255, 194) ;
    --accent-color-muted : rgb(72, 114, 95) ;

    
    
}

body {
    font-variant-ligatures: common-ligatures;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    color: var(--main-color);
    background-color: var(--background-color-light);
    color: var(--main-color);
    font-family: 'Victor Mono';

}

/* Generalites  */

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.2s;

}

a:hover {
    color: var(--accent-color-muted);
    text-decoration: none;
    transition: color 0.2s;
}

li {
    list-style: none;
}

i {
    font-style: oblique;
}

em {
    font-style: italic;
}


section:not(header section) {
    background-color: var(--background-color);
    padding: 5% 20% 5% 20%;
    
}



/* body  */

p {
    font-size: 120%;
}


h1 {

    font-weight: bold;
    font-style: italic;
    line-height: 175%;
    overflow-wrap: break-word;
}

h2 {
    font-size: 155%;
}

/* details  */

details {
    margin-bottom: 1em;
}
details h3 {
    display: inline;
    margin: 0;
}

details h4 {
    font-size: 110%;
    text-indent: 1.3em;
    margin: 0;

}

details h5 {
    font-size: 110%;
    text-indent: 1.3em;
    margin: 0;

}

details p {
    text-indent: 1.35em;

}

ul h4 {
    margin: 0;
}


/* prtfolio */



 div:not(header div, .blog div) {
    margin: auto;
}

h1:not(header h1) {
    margin-bottom: 0;
}
div:not(header div) {
    border-bottom: solid var(--main-color) 2px;
    padding: 2em 0 2em 0;
}

/* footer */

footer {
    background-color: var(--background-color-light);
    color: var(--main-color);
    margin: 0 12.5% 0 12.5%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul {
    padding: 0;
    
}

footer li {
    list-style-position: outside;
    padding-right: 2em;
}
